<div id="applicationHost" class="container body-content admin-appHost">
    <div data-ng-include="'app/layout/shell.html'"></div>
</div>

<div id="footer">
<div class="container">
    <span class="pull-right text-info credit">Elite Schedule Admin - &copy; Steve Michelotti</span>
</div>
    </div>