<div>
    <h2>Teams</h2>
</div>

<uib-tabset active="0">
    <uib-tab heading="Teams">
 </uib-tab>
    <uib-tab heading="Games" select="vm.go('games')">Games</uib-tab>
    <uib-tab heading="League Home" select="vm.go('league-home')">League Home</uib-tab>
</uib-tabset>

 <p></p>
    <div class="row">
        <div class="col-md-4">
            <!--<button class="btn btn-primary" ng-click="vm.addTeam()">Add New Team</button>-->
            <button class="btn btn-primary" ng-click="vm.editItem()">Add New Team</button>
            <button class="btn btn-primary" ng-click="vm.showImport()">Import Teams</button>
        </div>

        <div class="col-md-4 col-md-offset-4">
            <div class="btn-group pull-right">
                <label class="btn btn-info"  ng-click="vm.toggleExpand(true)">Expand All</label>
                <label class="btn btn-info"  ng-click="vm.toggleExpand(false)">Collapse All</label>
            </div>
        </div>
    </div>
    <p></p>

    <uib-accordion close-others="false">
        <div uib-accordion-group ng-repeat="group in vm.groups" is-open="group.isOpen" class="panel-default">
            <uib-accordion-heading>
                {{group.divisionName}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.isOpen, 'glyphicon-chevron-right': !group.isOpen }"></i>
            </uib-accordion-heading>
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Team Name</th>
                    <th>Coach</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="team in group.teams">
                    <td>{{$index + 1}}</td>
                    <td>{{team.name}}</td>
                    <td>{{team.coach}}</td>
                    <td>
                        <div class="btn-group" uib-dropdown>
                            <button class="btn btn-success dropdown-toggle" uib-dropdown-toggle type="button">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="vm.editItem(team)">Edit</a></li>
                                <li><a ng-click="vm.deleteItem(team.id)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </uib-accordion>


</div>